body 
{
color:rgb(219, 23, 23);
text-align: right;
font-family: 'Courier New';
font-size: 16;



}

#container
{
    width: 30%;
    padding: .5cm;
    text-align: right;
    border: 10px solid aqua;
    margin: 3cm;

}